@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.header{
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
}
.context {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.text{
  display: flex;
  flex-direction: column;
  padding: 2em 0 1em;
}

.content{
  position: relative;
}
.content h2{
  position: absolute;
  transform: translate(-50%,-50%);
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
}
.content h2:nth-child(1){
  color: transparent;
  -webkit-text-stroke: 1px var(--color-bg);
  font-weight: 500;
  font-size: 80px;
  font-family: cursive;
}
.content h2:nth-child(2){
  color: #ffffff;
  animation: animate 4s ease-in-out infinite;
  font-weight: 500;
  font-size: 80px;
  font-family: cursive;
}
@keyframes animate{
  0%, 
  100% {
    clip-path: polygon(
      0% 45%, 16% 44%, 33% 50%,
      54% 60%, 70% 61%, 76% 59%,
      100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(
      0% 60%, 15% 65%, 34% 66%,
      51% 62%, 67% 50%, 76% 45%,
      100% 46%, 100% 100%, 0% 100%);
  }
}



@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }


  .links {
    align-items: flex-start;
  }
}


@media screen and (max-width: 630px) {
  .container {
    padding: 10px 10%;
  }
  .content h2{
    font-size: 40px;
  }
  .header{
    font-size: 40px
  }
  .context {
    font-size: 22px;
  }
  .link a {
    font-size: 16px;
  }
  .content h2:nth-child(1){
    font-size: 50px;
  }
  .content h2:nth-child(2){
    font-size: 50px;
  }

}
